# FILES
404.html
about-me-wide.html 
about-me.html 
blog-single.html 
blog.html
coming-soon-1.html 
coming-soon-2.html 
contact-wide.html 
contact.html
multipage-basic.html 
multipage-typed-text.html 
multipage-wide-layout.html 
onepage-color-background.html 
onepage-fullscreen.html
onepage-image-background.html 
onepage-image-color-background.html 
onepage-typed-text.html
onepage-video-background.html 
onepage-wide-color-background.html 
onepage-wide-image-background.html 
onepage-wide-image-color-background.html 
onepage-wide-video-background.html 
portfolio-basic-grid.html 
portfolio-masonry-wide.html 
portfolio-masonry.html 
portfolio-single-1.html 
services-wide.html 
services.html 
slide-alternative-nav.html 
slide-color-background.html 
slide-image-background.html 
slide-image-color-background.html 
slide-typed-text.html 
slide-video-background.html 
slide-wide-color-background.html 
slide-wide-image-background.html 
slide-wide-image-color-background.html 
slide-wide-video-background.html 
terms.html

# FOLDERS
assets/video/
assets/images/avatars
assets/images/blog
assets/images/photos
assets/images/portfolio/portfolio-1.jpg
assets/images/portfolio/portfolio-2.jpg
assets/images/portfolio/portfolio-3.jpg
assets/images/portfolio/portfolio-4.jpg
assets/images/portfolio/portfolio-5.jpg
assets/images/portfolio/portfolio-6.jpg
assets/images/portfolio/portfolio-7.jpg
assets/images/portfolio/portfolio-8.jpg
assets/images/portfolio/portfolio-9.jpg
assets/images/logo-dark.png
assets/images/logo-white.png
